@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    min-height: 100vh;
    background: rgb(84, 80, 72);
    background: linear-gradient(
            109.6deg,
            rgb(20, 30, 48) 11.2%,
            rgb(36, 59, 85) 91.1%
        )
        no-repeat;
    color: #faf9f6;
}

.text-balance {
    text-wrap: balance;
}

/* input {
    @apply w-[400px] border-2 border-solid border-slate-600 p-2 rounded-xl text-black bg-slate-50/90;
} */
